
<div class="card col-6 mt-5">
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Imię</th>
                            <th>Nazwisko</th>
                            <th>Data</th>
                            <th>Opis</th>
                        </tr>
                    </thead>
                    <tbody id="users">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

