<div class="row justify-content-md-center">
    <div class="card col-6 mt-5">
        <div class="card-body">
            <div class="row">
            <div class="col-6">
                <button class="btn btn-small btn-light" id="login">
                <span class="bi bi-person-circle"> Logowanie</span>
                </button>
            </div>
            <div class="col-6" style="text-align: right;">
                <button class="btn btn-small btn-light" id="register">
                <span class="bi bi-pen"> Rejestracja</span>
                </button>
            </div>
            </div>
        </div>
    </div>
</div>